$btn_primary: $primary_blue_darker;
$btn_secondary: $primary_blue_lighter;
$btn_font_primary: $font_primary_light;

a{
  cursor: pointer;
  &.btn{
    position: relative;
    padding: 1rem 3rem;
    background: $btn_primary;
    color: $btn_font_primary;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    @include transform(perspective(1px) translateZ(0));
    @include transitionProperty(color);
    @include transitionDuration(0.3s);
    @include fontSWHS(1.2rem, 600, initial, initial);
    @include border-radius(5px);
    &:hover, &:focus, &:active{
      &:before{
        @include transform(scaleX(1));
      }
    }
  }
  &.btn-animation-right{
    &::before{
      @include transformOrigin(0 50%);
    }
  }
  &.btn-animation-left{
    &::before{
      @include transformOrigin(100% 50%);
    }
  }
  &.btn-animation-bottom{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 0);
    }
  }
  &.btn-animation-top{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 100%);
    }
  }
    &::before {
      content: "";
      z-index: -1;
      background: $btn_secondary;
      @include border-radius(5px);
      @include fullscreen(absolute, 0, 0, 0, 0);
      @include transitionProperty(transform);
      @include transitionDuration(0.3s);
      @include transform(scaleX(0));
  }
}

button{
  cursor: pointer;
  &.btn{
    position: relative;
    padding: 1rem 3rem;
    background: $btn_primary;
    color: $btn_font_primary;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    @include transform(perspective(1px) translateZ(0));
    @include transitionProperty(color);
    @include transitionDuration(0.3s);
    @include fontSWHS(1.2rem, 600, initial, initial);
    @include border-radius(5px);
    &:hover, &:focus, &:active{
      &:before{
        @include transform(scaleX(1));
      }
    }
  }
  &.btn-animation-right{
    &::before{
      @include transformOrigin(0 50%);
    }
  }
  &.btn-animation-left{
    &::before{
      @include transformOrigin(100% 50%);
    }
  }
  &.btn-animation-bottom{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 0);
    }
  }
  &.btn-animation-top{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 100%);
    }
  }
  &::before {
    content: "";
    z-index: -1;
    background: $btn_secondary;
    @include border-radius(5px);
    @include fullscreen(absolute, 0, 0, 0, 0);
    @include transitionProperty(transform);
    @include transitionDuration(0.3s);
    @include transform(scaleX(0));
  }
}
