input, select, textarea{
  font-family: $font_style_primary;
  border: none;
  padding: 0 1rem;
  height: 3.5rem;
  line-height: 3.5rem;
  vertical-align: middle;
  @include fontSWHS(1.2rem, 500, initial, initial);
  @include border-radius(5px);
  &::placeholder{
    color: $font_primary_dark;
  }
  &.dark-color{
    color: $font_primary_hover;
    background-color: $primary_color_dark;
  }
  &.dark-color-secondary{
    color: $font_primary_hover;
    background-color: $secondary_color_dark;
  }
  &:focus{
    &::placeholder{
      color: $primary_blue_darker;
    }
  }
}
