$primary_color_dark: #171a25;
$secondary_color_dark: #3a3c4c;
$primary_color_light: #f6f6ed;

$primary_blue_darker: #0073dd;
$primary_blue_lighter: #008CFF;

$font_primary_dark: #71859D;
$font_primary_light: #FFFFFF;
$font_primary_hover: $primary_blue_lighter;
