$z_index-dropdown:          1000 !default;
$z_index-sticky:            1020 !default;
$z_index-fixed:             1030 !default;
$z_index-modal-overlay:     1040 !default;
$z_index-modal:             1050 !default;
$z_index-alert:             1060 !default;
$z_index-tooltip:           1070 !default;
