@import "~assets/styles/variables/colors";
@import "~assets/styles/helpers/mixins";
@import "~assets/styles/layout/typography";

nav{
  background-color: $secondary_color_dark;
  height: 6rem;
  line-height: 6rem;
  width: 100%;
  padding: 0 2rem;
  .navbar{
    height: 6rem;
    line-height: 6rem;
  }
  .nav-logo-title{
    color: $font_primary_dark;
    @include fontSWHS(1.6rem, 500, initial, initial);
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .nav-logo-img{
    height: 6rem;
    img{
      vertical-align: middle;
      width: 5rem;
      height: 5rem;
    }
  }
  button{
    @media screen and (max-width: 920px) {
      span{
        display: none;
      }
    }
  }
}
