<template>
  <div id="docs" :class="{'hide-sidebar': !showSidebar}">
    <div class="dashboard-logo">
      <div class="flex">
        <nuxt-link to="/" class="logo">
          <img src="~/static/images/furious.png" alt="">
        </nuxt-link>
        <nuxt-link to="/" class="logo-text">
          Furious SCSS
        </nuxt-link>
      </div>
    </div>
    <div class="dashboard-navbar flex flex_space_between">
      <div class="flex flex_align_items_center">
        <div id="premade-hamburger" @click="onShowSidebar()" :class="{'open': !showSidebar}">
          <span></span>
          <span></span>
          <span></span>
        </div>
       <a class="logo">
          <img src="~/static/images/furious.png" alt="">
        </a>
      </div>
      <div>
        <ul class="flex flex_align_items_center">
          <li>
            v0.1
          </li>
          <li>
            <nuxt-link to="/docs" class="btn">Get Started</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <transition name="slideInSidebar">
      <div class="dashboard-sidebar" v-if="!showSidebar"  v-click-outside="onHideSidebar">

        <ul class="main-list">
          <li>
            <a class="link_light" @click="onMenuExpand(0)">
              Bootstrap
            </a>
            <ul class="sub-list" v-if="menu === 0">
              <li>
                <nuxt-link class="link_light" to="/docs/bootstrap" nuxt-link-exact-active>
                  Grid (Floats)
                </nuxt-link>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="main-list">
          <li>
            <a class="link_light" @click="onMenuExpand(1)">
              Layout
            </a>
            <ul class="sub-list" v-if="menu === 1">
              <li>
                <nuxt-link class="link_light" to="/docs/layout/grid" nuxt-link-exact-active>
                  Grid
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/layout/grid-flex" nuxt-link-exact-active>
                  Grid + Flex
                </nuxt-link>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="main-list">
          <li>
            <a class="link_light" @click="onMenuExpand(2)">
              Typography
            </a>
            <ul class="sub-list" v-if="menu === 2">
              <li>
                <nuxt-link class="link_light" to="/docs/typography" nuxt-link-exact-active>
                  Configuration
                </nuxt-link>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="main-list">
          <li>
            <a class="link_light" @click="onMenuExpand(3)">
              UI
            </a>
            <ul class="sub-list" v-if="menu === 3">
              <li>
                <nuxt-link class="link_light" to="/docs/ui/alerts" nuxt-link-exact-active>
                  Alerts
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/avatars" nuxt-link-exact-active>
                  Avatars
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/breadcrumbs" nuxt-link-exact-active>
                  Breadcrumbs
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/buttons" nuxt-link-exact-active>
                  Buttons
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/cards" nuxt-link-exact-active>
                  Cards
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/carousels" nuxt-link-exact-active>
                  Carousels
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="link_light" to="/docs/ui/data-tables" nuxt-link-exact-active>
                  Data Tables
                </nuxt-link>
              </li>
            </ul>
          </li>
        </ul>


      </div>
    </transition>
    <div class="dashboard-content">
      <nuxt/>
    </div>
    <no-ssr>
      <vue-snotify></vue-snotify>
    </no-ssr>
  </div>
</template>

<script>

  export default {

    transition: 'fadeInSidebar',

    data() {
      return {
        menu: 1,
        showSidebar: false
      }
    },

    methods: {
      onMenuExpand(step) {
        this.menu = step;
      },
      onShowSidebar() {
        this.showSidebar = !this.showSidebar;
      },
      onHideSidebar() {
        console.log('log');
        this.showSidebar = true;
      }
    }

  }


</script>

<style lang="scss">
  @import "~assets/styles/helpers/mixins";
  @import "~assets/styles/variables/colors";
  @import "~assets/styles/layout/typography";
  @import "~assets/styles/animations/animations";
  @import "~assets/styles/variables/variables";

  $sidebar_border_color: $primary_color_dark;
  $links_border_bottom: $primary_color_dark;

  .slideInSidebar-enter-active, .slideInSidebar-leave-active {
    @include animationTransformLeftToRight;
    @include animationTransformReset;
  }
  .slideInSidebar-enter, .slideInSidebar-leave-to /* .slideInSidebar-leave-active below version 2.1.8 */ {
    @include animationTransformReset;
    @include animationTransformLeftToRight;
  }

  #docs{
    display: grid;
    grid-template-areas:
      'logo navbar'
      'content content';
    grid-template-columns: 320px calc(100vw - 320px);
    grid-template-rows: 60px calc(100vh - 60px);
    height: 100vh;
    width: 100vw;
    @media screen and (max-width: 768px) {
      grid-template-areas:
        'navbar navbar'
        'content content';
      .dashboard-logo{
        display: none;
      }
    }
    &.hide-sidebar{
      .dashboard-content{
        padding-left: 34rem;
        @media screen and (max-width: 768px) {
          padding-left: 2rem;
        }
      }
    }
    .dashboard-logo{
      grid-area: logo;
      background-color: $sidebar_border_color;
      line-height: 6rem;
      padding: 0 2rem;
      border-right: 1px solid $secondary_color_dark;
      .logo{
        img{
          width: 5rem;
          height: 5rem;
          vertical-align: middle;
        }
      }
      .logo-text{
        margin-left: 1rem;
        color: $font_primary_light;
        @include fontSWHS(1.8rem, 600, 6rem, initial);
      }
    }
    .dashboard-navbar{
      grid-area: navbar;
      position: relative;
      background-color: $primary_color_dark;
      line-height: 6rem;
      padding: 0 2rem;
      overflow: hidden;
      .logo{
        position: absolute;
        left: 2rem;
        bottom: -9rem;
        pointer-events: none;
        img{
          opacity: .05;
        }
      }
      ul{
        height: 100%;
        li{
          display: inline-block;
          color: $font_primary_light;
          margin: 0 1rem;
          @include fontSWHS(1.2rem, 600, initial, initial);
        }
      }
    }
    .dashboard-sidebar{
      grid-area: sidebar;
      background-color: $secondary_color_dark;
      color: $font_primary_light;
      border-left: 2px solid $sidebar_border_color;
      width: 32rem;
      height: 100vh;
      z-index: $z_index-fixed;
      @include fullscreen(fixed, 5.9rem, initial, 0, 0);
      ul{
        &.main-list{
          padding: 1rem 2rem;
          border-bottom: 1px solid $links_border_bottom;
          li{
            text-transform: uppercase;
            margin: 1rem 0;
          }
        }
        &.sub-list{
          padding-left: 2rem;
          li{
            text-transform: capitalize;
          }
        }
      }
    }
    .dashboard-content{
      grid-area: content;
      padding: 2rem;
      height: calc(100vh - 60px);
      overflow: auto;
      @include transition(.8s);
      @include gradientSecondaryBg;
    }
  }

</style>
