<template>
  <div id="landing">

   <nav>
     <div class="navbar flex flex_space_between flex_align_items_center">
       <a class="flex flex_align_items_center">
         <div class="nav-logo-img">
           <img src="~/static/images/furious.png" alt="">
         </div>
         <div class="margin_l_2">
           <div class="nav-logo-title">
             Furious Social Network
           </div>
         </div>
       </a>
       <form class="flex">
         <div class="margin_r_2">
           <input type="text" placeholder="Username" class="dark-color">
         </div>
         <div class="margin_r_2">
           <input type="password" placeholder="Password" class="dark-color">
         </div>
         <div>
           <button class="btn"><i class="icon-user"></i><span class="margin_l_1">Sign In</span></button>
         </div>
         <div class="margin_l_1 margin_r_1">
           <span>or</span>
         </div>
         <div>
           <button class="btn"><i class="icon-user-add"></i><span class="margin_l_1">Sign In</span></button>
         </div>
       </form>
     </div>
   </nav>

    <section>
      Section
    </section>

  </div>
</template>

<script>

</script>

<style lang="scss" scoped>
  @import "~assets/styles/pages/index";

</style>
