#premade-hamburger {
  width: 3rem;
  height: 2.3rem;
  position: relative;
  cursor: pointer;
  @include transition(.5s ease-in-out);
  @include transform(rotate(0deg));
  span{
    display: block;
    position: absolute;
    height: .3rem;
    width: 100%;
    background: $primary_blue_lighter;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);
    @include border-radius(.9rem);
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 1rem;
    }
    &:nth-child(3){
      top: 2rem;
    }
  }
  &.open{
    span{
      &:nth-child(1){
        top: 1rem;
        @include transform(rotate(135deg));
      }
      &:nth-child(2){
        opacity: 0;
        left: -6rem;
      }
      &:nth-child(3){
        top: 1rem;
        @include transform(rotate(-135deg));
      }
    }
  }
}

code{
  background-color: $primary_color_dark;
  color: $font_primary_light;
  width: 100%;
  height: 100%;
  display: block;
  padding: 2rem;
  overflow: auto;
  @include border-radius(5px);
}
